[grid]
  dew = 4000.
  dns = 4000.
  ewn = 416
  global_bc = 1
  nsn = 704
  nx_block = 0
  ny_block = 0
  upn = 11

[GLAD climate]
  evolve_ice = 0
  zero_gcm_fluxes = .true.

[esm_output]
  esm_history_vars = "smb artm thk usurf topg"
  history_frequency = 1
  history_option = "nyears"

[options]
  adjust_input_thickness = .false.
  apply_calving_mask = .false.
  basal_mass_balance = 1
  bmlt_float = 0
  bmlt_float_ismip6_magnitude = 1
  bmlt_float_thermal_forcing_param = 0
  calving_domain = 1
  calving_init = 1
  dm_dt_diag = 1
  dycore = 2
  evolution = 3
  flow_law = 2
  gthf = 1
  isostasy = 0
  limit_marine_cliffs = .true.
  marine_margin = 1
  ocean_data_domain = 0
  ocean_data_extrapolate = 0
  read_lat_lon = .false.
  remove_icebergs = .true.
  remove_isthmuses = .false.
  restart = 0
  sigma = 0
  slip_coeff = 0
  temp_init = 3
  temperature = 1
  vertical_integration = 0

[time]
  adaptive_cfl_threshold = 0.5
  dt = 0.1
  dt_diag = 0.1
  dt_input_option = 0
  idiag = 134
  jdiag = 280
  nsteps_per_year = 0

[parameters]
  basal_tract_const = 1.e-4
  beta_grounded_min = 100.
  beta_powerlaw_umax = 0.0
  bmlt_cavity_h0 = 0.
  bmlt_float_depth_frzmax = 0.
  bmlt_float_depth_meltmax = 10.
  bmlt_float_depth_meltmin = 0.
  bmlt_float_depth_zfrzmax = -100.
  bmlt_float_depth_zmelt0 = -200.
  bmlt_float_depth_zmeltmax = -500.
  bmlt_float_depth_zmeltmin = 0.
  bmlt_float_h0 = 75.
  bwat_till_max = 2.
  c_drainage = 1.e-3
  calving_minthck = 100.
  calving_timescale = 0.
  cliff_timescale = 0.
  coulomb_c = 0.42
  effecpress_delta = 0.02
  effstrain_min = 1.0e-8
  flow_factor = 1.
  flow_factor_float = 1.
  gamma0 = 0.
  geothermal = -5.e-2
  ice_limit = 1.
  inversion_babc_thck_scale = 100.
  inversion_babc_timescale = 500.0
  inversion_bmlt_basin_flotation_threshold = 500.0
  inversion_bmlt_basin_mass_correction = 1000.0
  inversion_bmlt_basin_number_mass_correction = 9
  inversion_bmlt_basin_timescale = 100.0
  inversion_dbmlt_dtemp_scale = 10.0
  inversion_thck_flotation_buffer = 2.
  inversion_thck_threshold = 1.
  log_level = 6
  max_slope = 0.1
  p_ocean_penetration = 0.0
  pmp_offset = 5.
  powerlaw_c = 1.0e+4
  powerlaw_c_max = 1.0e+5
  powerlaw_c_min = 1.0e+2
  powerlaw_m = 3.0
  pseudo_plastic_bedmax = 700.
  pseudo_plastic_bedmin = -700.
  pseudo_plastic_phimax = 40.
  pseudo_plastic_phimin = 5.
  pseudo_plastic_q = 0.5
  pseudo_plastic_u0 = 100.
  taumax_cliff = 1.e6
  thck_gradient_ramp = 50.

[ho_options]
  block_inception = .false.
  compute_blocks = 0
  glissade_maxiter = 50
  linear_solve_ncheck = 5
  remove_ice_caps = .false.
  which_ho_approx = 4
  which_ho_assemble_beta = 1
  which_ho_assemble_bfric = 1
  which_ho_assemble_lateral = 1
  which_ho_assemble_taud = 1
  which_ho_babc = 3
  which_ho_beta_limit = 0
  which_ho_bmlt_basin_inversion = 0
  which_ho_bwat = 2
  which_ho_calving_front = 0
  which_ho_cp_inversion = 0
  which_ho_disp = 1
  which_ho_effecpress = 4
  which_ho_efvs = 2
  which_ho_flotation_function = 3
  which_ho_gradient = 0
  which_ho_gradient_margin = 1
  which_ho_ground = 2
  which_ho_ground_bmlt = 1
  which_ho_nonlinear = 1
  which_ho_precond = 1
  which_ho_resid = 4
  which_ho_sparse = 3
  which_ho_thermal_timestep = 2

[grid_ocn]
  dzocn = 0.0
  nbasin = 0
  nzocn = 1

########################################
# I/O configuration follows
########################################

[CF default]
title: CISM simulation
institution: Community Earth System Model

[CF input]
name: /glade/campaign/cesm/cesmdata/inputdata/glc/cism/Greenland/greenland_4km_epsg3413_c171126.nc
