[grid]
dew = 4000.
dns = 4000.
ewn = 416
global_bc = 1
nsn = 704
upn = 11

[GLAD climate]
evolve_ice = 0

[options]
basal_mass_balance = 1
bmlt_float = 0
calving_domain = 1
calving_init = 1
dm_dt_diag = 1
dycore = 2
evolution = 3
flow_law = 2
gthf = 1
isostasy = 0
limit_marine_cliffs = .true.
marine_margin = 1
remove_icebergs = .true.
restart = 0
sigma = 0
slip_coeff = 0
temp_init = 3
temperature = 1
vertical_integration = 0

[time]
adaptive_cfl_threshold = 0.5
dt = 0.1
dt_diag = 0.1
idiag = 134
jdiag = 280

[parameters]
basal_tract_const = 1.e-4
beta_grounded_min = 100.
bmlt_float_depth_frzmax = 0.
bmlt_float_depth_meltmax = 10.
bmlt_float_depth_zfrzmax = -100.
bmlt_float_depth_zmelt0 = -200.
bmlt_float_depth_zmeltmax = -500.
bmlt_float_h0 = 75.
bwat_till_max = 2.0
c_drainage = 1.e-3
calving_minthck = 100.
calving_timescale = 0.
cliff_timescale = 0.
effecpress_delta = 0.02
flow_factor = 1.
flow_factor_float = 1.
geothermal = -5.e-2
ice_limit = 1.
log_level = 6
max_slope = 0.1
pmp_offset = 5.
pseudo_plastic_bedmax = 700.
pseudo_plastic_bedmin = -700.
pseudo_plastic_phimax = 40.
pseudo_plastic_phimin = 5.
pseudo_plastic_q = 0.5
pseudo_plastic_u0 = 100.
taumax_cliff = 1.e6
thck_gradient_ramp = 50.

[ho_options]
glissade_maxiter = 50
which_ho_approx = 4
which_ho_assemble_beta = 1
which_ho_assemble_bfric = 1
which_ho_assemble_taud = 1
which_ho_babc = 3
which_ho_bwat = 2
which_ho_calving_front = 0
which_ho_disp = 1
which_ho_effecpress = 4
which_ho_efvs = 2
which_ho_gradient = 0
which_ho_gradient_margin = 1
which_ho_ground = 0
which_ho_ground_bmlt = 0
which_ho_nonlinear = 0
which_ho_precond = 1
which_ho_resid = 4
which_ho_sparse = 3
which_ho_thermal_timestep = 2

########################################
# I/O configuration follows
########################################

[CF default]
title: CISM simulation
institution: Community Earth System Model
